<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Altere para slot="fixed" e as posições para bottom e end -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" type="small">
    <ion-fab-button size="small" color="primary" (click)="abrirCameraEnviar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


@if (respostaApi) {
  <div>
     <app-modal [isModalOpen]="true" [dadosApi]="respostaApi"></app-modal>
  </div>
} @else {

  <div class="flex flex-col items-center justify-center h-full">
    <p>

    </p>

  </div>


}

<app-forms-produtos [dadosApi]="respostaApi"></app-forms-produtos>


</ion-content>
